<!DOCTYPE html>
<html>
<head>
    {% include head.html %}

    <link type="text/css" rel="stylesheet" href="{{ "/assets/css/header.css" | prepend: site.baseurl }}" media="screen,projection">

    <meta name="highered/config/environment" content="%7B%22modulePrefix%22%3A%22highered%22%2C%22environment%22%3A%22production%22%2C%22baseURL%22%3A%22/%22%2C%22rootURL%22%3A%22/portfolio/highered/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22highered%22%2C%22version%22%3A%220.0.0+5006e6eb%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link rel="stylesheet" href="/assets/css/highered/vendor-d41d8cd98f00b204e9800998ecf8427e.css">
    <link rel="stylesheet" href="/assets/css/highered/highered-56808a2c13de61acb3e5e4e6d50c43c3.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        {% include header.html %}
    </header>

    <div id='paper-wormhole'></div>

    <script src="/assets/js/highered/vendor-084c85705b028c9792bacba3880beb4f.js" integrity="sha256-vOou8er9JujddcqjN0BIpkYkL7YB2J3767X3IywLPeY= sha512-lRbZlKv4T53DDTijvp3rn4oCYsIVqLu06H50+joURukpJxAuxr97x055wFqe753akF2v3E9Hr9F7licvT9axew==" ></script>
    <script src="/assets/js/highered/highered-e6abae192f9febac49fb5ba40e3193ca.js" integrity="sha256-CfO6g7Lj//orJn3sN1STNuT3yDFZ2YJyhuaVvoJV090= sha512-8Bge0ziE2HeueV14vF82sTGEcMnEYU+rayvBv/gtySBF3ZAVU5ZgF/mE6bPduhmQX+BcAnbWcFV8RDsqK5a9rA==" ></script>
</body>
</html>
